body {
	position: relative;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	width: 100%;
	height: auto;
	margin: 0;
	background-image: url('../img/sintwave.gif');
	background-size: cover;
	background-repeat: no-repeat;
	cursor: url('../img/cur2.png'), auto;
}

::selection {
    background: #9302cc; 
    color: #fffb00; 
   }

.navbar{
	position:relative;
	width: 100%;
	height: auto;
}

.navbar .container{
	height: inherit;
	display: flex;
	justify-content:space-around;
	align-items: center;
}
.navbar-menu{
	list-style-type:none;
	padding: 0;
	margin: 0;
}
.navbar-menu li{
	display: inline-block;
}
.navbar-menu li a{
	display: inline-block;
	padding: 20px;
	font-size: 19px;
	color: rgb(255, 255, 255);
	opacity: 1;
	text-decoration: none;
	transition: all .20s ease-out;
}
.navbar-menu li a:hover{
	opacity: 1;
	transform: scale(1.15);
	color: rgb(0, 0, 0);
	text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.navbar-name{
	font-weight: 700;
	font-size: 26px;
	margin: 10px;
	text-decoration: none;
	color: rgb(255, 255, 255);
	transition: all .20s ease-in-out;
}
.navbar-name:hover{
	color: black;
	text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.main{
	display: flex;
	justify-content: center;
	height: 100vh;
	width: 100%;
}

.img{
	display: flex;
	justify-content: center;
	width: 50%;
	
}
.img1{
	height: 100vh;
	border: 2px solid rgb(17, 0, 255);
	background-color: rgba(150, 41, 141, 0.589);
	
}

.maintext{
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-top: 300px;
	font-size: 20px;
	text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;

}

.link{
	display: flex;
	justify-content:space-around;
	align-items: center;
	height: 15vh;
	background-color: rgba(4, 255, 17, 0);
}

.fa-telegram{
	font-size: 40px;
	color: #0088cc;
	transition: all .40s ease-out;
}
.fa-telegram:hover{
	color: #ffffff;
  text-shadow:
  	0 0 3px #00aaff, 
  	0 0 7px #00aaff,
   	0 0 15px #00aaff,
    0 0 30px #00aaff
}
.fa-whatsapp{
	font-size: 40px;
	color: #25D366;
	transition: all .40s ease-out;
}
.fa-whatsapp:hover{
	color: #ffffff;
  text-shadow:
  	0 0 3px #25D366, 
  	0 0 7px #25D366,
   	0 0 15px #25D366,
    0 0 30px #25D366
}
.fa-github{
	font-size: 40px;
	color: #f5f5f5;
	transition: all .40s ease-out;
}
.fa-github:hover{
	color: #ffffff;
  text-shadow:
  	0 0 3px #ffffff, 
  	0 0 7px #ffffff,
   	0 0 15px #ffffff,
    0 0 30px #ffffff
}
.fa-envelope{
	font-size: 40px;
	color: #ddda3b;
	transition: all .40s ease-out;
}
.fa-envelope:hover{
	color: #ffffff;
  text-shadow:
  	0 0 3px #ddda3b, 
  	0 0 7px #ddda3b,
   	0 0 15px #ddda3b,
    0 0 30px #ddda3b
}
.tel{
	text-decoration: none;
	font-size: 25px;
	color: #ffffff;
	transition: all .40s ease-out;
}
.tel:hover{
	color: #ffffff;
  text-shadow:
  	0 0 3px #ffffff, 
  	0 0 7px #ffffff,
   	0 0 15px #ffffff,
    0 0 30px #ffffff
}